.sidebar {
  padding-left: 2em;
  padding-right: 2em;
  justify-content: center;
  width: 10%;
  height: 100vh;
  background-color: #f0b324;
  display: flex;
  flex-direction: column;
}

.link {
  padding-bottom: 1em;
  text-decoration: none;
  color: black;
  font: bold;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.link:hover {
  color: #4a4a4a;
}
