.blog-posts {
  display: block;
  color: black;
  font-family: "Open Sans", sans-serif;
  padding-top: 6em;
  padding-left: 1em;
  width: 100%;
  overflow-y: scroll;
}

.blog-tile {
  padding: 0em 2em 1em 2em;
  margin-right: 0.5em;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  background-color: #ffe45c;
  margin-bottom: 1em;
  text-decoration: none;
}

.blog-tile-header {
  display: flex;
}
